include LICENSE
include README.md
include requirements.txt
include pyproject.toml
recursive-include middle_slice *.py
recursive-include downstream *.py
recursive-include interpolation *.py
recursive-include metrics *.py
recursive-include upsampling *.py
recursive-exclude external *
recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
exclude whole.gif
exclude fig.png
